@import "../node_modules/bootstrap/scss/bootstrap.scss";

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
  display: none;
}

.display-none{
  display: none;
}
.display{
  display: inherit;
}
.reservedWish{
  background-color: darkgray;
  opacity: 0.5;
}

.reservedWish button{
  cursor: not-allowed;

}


