<div >
    <div class="container">
    <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand" href="#">Socially</a>

        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/users">Users <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <login-buttons class="pull-right"></login-buttons>
    </nav>
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</div>
</div>